<!DOCTYPE html>
<html>
  <head>
    <title>Reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="menu">
      <%= image_tag("TAM-Logo-white.png", :alt => "TAMU logo", :id => "tamu_logo", :class => "logo") %>
      <div class="vl"/>
      <h1>TEST</h1>
    </nav>
    <%= yield %>
  </body>
</html>
