<!DOCTYPE html>
<html>
  <head>
    <title>Reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Yanone+Kaffeesatz:700&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="menu">
      <%= link_to image_tag("TAM-Logo-white.png", :alt => "TAMU logo", :id => "tamu_logo", :class => "logo"), reviews_path(), :id => "tamu_logo_link" %>
      <%= link_to image_tag("vert_bar.png", :alt => "vertical seperator", :id => "vert_bar", ), reviews_path(), :id => "vert_bar_link"%>
      <%= link_to image_tag("name_tag.png", :alt => "Texas A&M University Education Abroad", :id => "name_tag", :class => "name_tag"), reviews_path(), :id => "name_tag_link" %>
      <%= link_to image_tag("search.png", :alt => "search", :id => "search", :style => "float: right;") %>
      <h2 style = "float: right;">
        <%=link_to "CONTACT", reviews_emergency_path(), :id => "contact", :class => "link", :style => "margin-right: 10px;"%>
        <% if logged_in? %>
          <%=link_to "LOGOUT", logout_path(), :id => "logout", :class => "link", :style => "margin-right: 10px;"%>
        <%else%>
          <%=link_to "LOGIN", login_path(), :id => "login", :class => "link", :style => "margin-right: 10px;"%>
        <%end%>
      </h2>
    </nav>

    <% if logged_in? %>
      <h1>
        <%= session[:user] %>
      </h1>
    <%end%>
    
    <%= yield %>
  </body>
</html>
