<div class="index-background">
    <div class="big_container"> 
        <h1 class="h1">WHOOP!</h1>
        <h2 class="index-subheading">Aggie Reviews for TAMU Education Abroad Experiences</h2>
      
        <!-- Search Bar Group -->
        <%= form_tag(reviews_path, method: :get, :id => "search_form", :class => "search-flex") do %>
        <div class="input-group mb-3 search-flex" id="center">
            <!-- 'Find' Static Label -->
            <div class="search-component">
                <div class="input-group-prepend">
                    <span class="input-group-text left-search-item search-labels" id="inputGroup-sizing-sm">Find</span>
                </div>
                <%= text_field_tag :find, params[:find], :class => "form-control middle-search-bar search-bar", placeholder: "Pizza, Museums, etc.", autocomplete: "off", id: "sb_find" %>
            </div>
            <!-- 'Near' Static Label -->
            <div class="search-component"> 
                <div class="input-group-prepend">
                    <span class="input-group-text right-search-item search-labels" id="inputGroup-sizing-sm">Near</span>
                </div>
                <%= text_field_tag :near, params[:near], :class => "form-control right-search-bar search-bar", placeholder: "City or Location", autocomplete: "off", list: "dd_near", id: "sb_near" %>
                <datalist id="dd_near">
                    <option class="option">Current Location</option>
                </datalist>
            </div>
            <!-- Search Button -->
            <div class="input-group-append">
                <%= button_tag(:type => 'submit', :class => "btn btn-primary search-button", :id => "sb_search") do %>
                    <span class="search-button-text">Search</span>
                    <span class="glyphicon glyphicon-search"></span>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div>

<% if @results.is_a?(Array) && @results.length != 0 %>
    <div id="cards">
        <% @results.each_with_index do |result, index| %>
            <div class="card">
                <%= link_to review_path(id: result["id"]), id: "card_" + index.to_s do %>
                    <%= content_tag :h3, result["name"] %>
                <% end %>
                <%= content_tag :p, result["categories"][0]["title"] ? result["categories"][0]["title"] : "No Category Info" %>
                <%= content_tag :p, result["price"] ? result["price"] : "No Price Info" %>
                <%= content_tag :p, result["location"]["address1"] ? result["location"]["address1"] : "No Street Address" %>
                <%= content_tag :p, result["location"]["city"] ? result["location"]["city"] : "No City Address"%>
            </div>
        <% end %>
    </div>
<% end %>
