<div class="index-background">
    <div class="big_container"> 
        <h1 class="h1">WHOOP!</h1>
        <h2 class="index-subheading">Aggie Reviews for TAMU Study Abroads</h2>
        
        <%= form_tag(reviews_path, method: :get) do %>
        <div class="input-group mb-3" id="center"> <!-- Search Bar Group -->
            <!-- 'Find' Static Label -->
            <div class="input-group-prepend" id="joint-search-bar"> 
                <div class="input-group-prepend">
                    <span class="input-group-text left-search_bar search-labels" id="inputGroup-sizing-sm">Find</span>
                </div>
                <%= text_field_tag :find, params[:find], :class => "form-control middle-search-bar search_bar", placeholder: "Pizza, Tacos, Nail Salons, etc.", id: "sb_find" %>
                <!-- 'Near' Static Label -->
                <div class="input-group-prepend">
                    <span class="input-group-text middle-search-bar search-labels" id="inputGroup-sizing-sm">Near</span>
                </div>
                <%= text_field_tag :near, params[:near], :class => "form-control middle-search-bar search_bar", placeholder: "City or Location", id: "sb_near" %>
            </div>
            <!-- Search Button -->
            <div class="input-group-append">
                <%= button_tag(:type => 'submit', :class => "btn btn-primary search-button", :id => "sb_search") do %>
                    <span class="glyphicon glyphicon-search "></span>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div>

<% if @results.is_a?(Array) %>
  <% @results.each_with_index do |result, index| %>
    <%= link_to review_path(id: result["id"]), id: "card_" + index.to_s do %>
      <div class="card">
          <%= content_tag :h3, result["name"] %>
      </div>
    <% end%>
  <% end %>
<% end %>
