<div class="index-background">
    <div class="big_container"> 
        <h1 class="h1">WHOOP!</h1>
        <h2 class="index-subheading">Aggie Reviews for TAMU Study Abroads</h2>
        
        <%= form_tag(reviews_path, method: :get, :id => "search_form") do %>
        <div class="input-group mb-3" id="center"> <!-- Search Bar Group -->
            <!-- 'Find' Static Label -->
            <div class="input-group-prepend" id="joint-search-bar"> 
                <div class="input-group-prepend">
                    <span class="input-group-text left-search_bar search-labels" id="inputGroup-sizing-sm">Find</span>
                </div>
                <%= text_field_tag :find, params[:find], :class => "form-control middle-search-bar search_bar", placeholder: "Pizza, Tacos, Nail Salons, etc.", autocomplete: "off", id: "sb_find" %>
                <!-- 'Near' Static Label -->
                <div class="input-group-prepend">
                    <span class="input-group-text middle-search-bar search-labels" id="inputGroup-sizing-sm">Near</span>
                </div>
                <%= text_field_tag :near, params[:near], :class => "form-control middle-search-bar search_bar", placeholder: "City or Location", autocomplete: "off", list: "dd_near", id: "sb_near" %>
                <datalist id="dd_near">
                    <option class="option">Current Location</option>
                </datalist>
            </div>
            <!-- Search Button -->
            <div class="input-group-append">
                <%= button_tag(:type => 'submit', :class => "btn btn-primary search-button", :id => "sb_search") do %>
                    <span class="glyphicon glyphicon-search "></span>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div>

<% if @display_results.is_a?(Array) && @display_results.length != 0 %>
    <div id="cards">
        <% @display_results.each_with_index do |result, index| %>
            <div class="our-card">
                <div class="image-box">
                    <p>An Image will go here</p>
                </div>
                <div class="text-box">
                    <div class="business-info">
                        <%= link_to review_path(id: result["id"]), id: "card_" + index.to_s do %>
                            <%= content_tag :h3, result["name"] %>
                        <% end %>
                        <%= content_tag :p, result["type"] %>
                        <%= content_tag :p, "Price: " + result["price"].to_s %>
                        <%= content_tag :p, result["address"] %>
                    </div>
                    <div class="aggie-reviews">
                        <%= content_tag :p, "Price: " + result["service"].to_s %>
                        <%= content_tag :p, "Price: " + result["safety"].to_s %>
                    </div>
                    <div class="tag-info">
                        <% result["tags"].each do |tag| %>
                            <%= content_tag :span, tag %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
