<div class="review_page">
    <h1>Leave a Review Here</h1>
</div>
<%= form_for(@review) do |f| %>
    <p style="display: none">
        <%= f.label :business_id %>
        <%= f.text_field :business_id, value: params[:id]%>
    </p>
    <p style="display: none">
        <%= f.label :user_email %>
        <%= f.text_field :user_email, value: "ryan@example.com"%>
    </p>
    <p>
        <%= f.label :comment %><br />
        <%= f.text_area :comment %>
    </p>
    <p>
        <%= f.label :rating %><br />
        <%= f.number_field :rating, in: 1..5, steps: 1 %>
    </p>
    <p>
        <%= f.label :price %><br />
        <%= f.number_field :price, in: 1..5, steps: 1 %>
    </p>
    <p>
        <%= f.label :safety %><br />
        <%= f.number_field :safety, in: 1..5, steps: 1 %>
    </p>
    <p>
        <%= f.label :service %><br />
        <%= f.number_field :service, in: 1..5, steps: 1 %>
    </p>
    <p>
        <%= f.label :cash_only, "Do they accept Cash?", value: true %><br />
        <%= f.radio_button :cash_only, true, :checked => false, :value => true %>
    </p>
    <p>
        <%= f.label :english, "Do they speak English?", value: true %><br />
        <%= f.radio_button :english, true, :checked => false, :value => true %>
    </p>
    <p>
        <%= f.label :tips, "Are you expected to tip?", value: true %><br />
        <%= f.radio_button :tips, true, :checked => false, :value => true %>
    </p>
    <p>
        <%= f.label :wifi, "Do they have WiFi?", value: true %><br />
        <%= f.radio_button :wifi, true, :checked => false, :value => true %>
    </p>
    <p>
        <%= f.label :wheelchair, "Is it wheelchair accessible?", value: true %><br />
        <%= f.radio_button :wheelchair, true, :checked => false, :value => true %>
    </p>

    <%= f.submit "Create", disabled: false%>
<% end %>

<!--
<div class="review_page_contents">
    <form action="/reviews" method="POST">
        <%= text_area_tag(:param_text, nil, :size => "24x6") %>

        <%= label_tag(:param_cash, "Do they only take cash?") %>
        <%= check_box 'param_cash', 'result', {}, 1, 0 %>

        <%= label_tag(:param_english, "Do they speak English?") %>
        <%= check_box 'param_english', 'result', {}, 1, 0 %>

        <%= label_tag(:param_tips, "Is it appropriate to leave tips?") %>
        <%= check_box 'param_tips', 'result', {}, 1, 0 %>

        <%= label_tag(:param_wifi, "Do they have WiFi?") %>
        <%= check_box 'param_wifi', 'result', {}, 1, 0 %>

        <%= label_tag(:param_wheelchair, "Are they wheelchair accessible?") %>
        <%= check_box 'param_wheelchair', 'result', {}, 1, 0 %>

        <%= label_tag(:param_rating, "Rating") %>
        <%= radio_button_tag(:param_rating, "1") %>
        <%= radio_button_tag(:param_rating, "2") %>
        <%= radio_button_tag(:param_rating, "3") %>
        <%= radio_button_tag(:param_rating, "4") %>
        <%= radio_button_tag(:param_rating, "5", true) %>

        <%= label_tag(:param_price, "Price") %>
        <%= radio_button_tag(:param_price, "1") %>
        <%= radio_button_tag(:param_price, "2") %>
        <%= radio_button_tag(:param_price, "3") %>
        <%= radio_button_tag(:param_price, "4") %>
        <%= radio_button_tag(:param_price, "5", true) %>

        <%= label_tag(:param_safety, "Safety") %>
        <%= radio_button_tag(:param_safety, "1") %>
        <%= radio_button_tag(:param_safety, "2") %>
        <%= radio_button_tag(:param_safety, "3") %>
        <%= radio_button_tag(:param_safety, "4") %>
        <%= radio_button_tag(:param_safety, "5", true) %>

        <%= label_tag(:param_service, "Service") %>
        <%= radio_button_tag(:param_service, "1") %>
        <%= radio_button_tag(:param_service, "2") %>
        <%= radio_button_tag(:param_service, "3") %>
        <%= radio_button_tag(:param_service, "4") %>
        <%= radio_button_tag(:param_service, "5", true) %>

        <button type="button" class="btn btn-default btn-lg">
        <%= link_to 'Cancel', reviews_path %>
        
        <%= submit_tag "Submit", :value => params[:id], :name => "id" %>
    </form>
</div>

<%= form_tag leave_review_path, :method => 'get' do %>
    <div class="submit_cancel">
        
        <button type="button" class="btn btn-default btn-lg">
        <%= link_to 'Submit', reviews_path %>
    </div>
<% end %>
-->

