<div class="review_page">
    <h1>Leave a Review Here</h1>
</div>
<% form_for(@review) do |f| %>
    <p>
        <% f.label :comment %><br />
        <% f.text_area :comment %>
    </p>
    <p>
        <% f.label :rating %><br />
        <% f.number_field :rating, in: 1..5, steps: 1 %>
    </p>
    <p>
        <% f.label :price %><br />
        <% f.number_field :price, in: 1..5, steps: 1 %>
    </p>
    <p>
        <% f.label :safety %><br />
        <% f.number_field :safety, in: 1..5, steps: 1 %>
    </p>
    <p>
        <% f.label :service %><br />
        <% f.number_field :service, in: 1..5, steps: 1 %>
    </p>
    <p>
        <% f.label :cash_only %><br />
        <% f.radio_button :cash_only, "Do they only accept cash?" %>
    </p>
    <p>
        <% f.label :english %><br />
        <% f.radio_button :english, "Do they speak english?" %>
    </p>
    <p>
        <% f.label :tips %><br />
        <% f.radio_button :tips, "Are you expected to tip?" %>
    </p>
    <p>
        <% f.label :wifi %><br />
        <% f.radio_button :wifi, "Do they have WiFi?" %>
    </p>
    <p>
        <% f.label :wheelchair %><br />
        <% f.radio_button :wheelchair, "Is it wheelchair accessible" %>
    </p>

    <%= f.submit "Create" %>
<% end %>

<!--
<div class="review_page_contents">
    <form action="/reviews" method="POST">
        <%= text_area_tag(:param_text, nil, :size => "24x6") %>

        <%= label_tag(:param_cash, "Do they only take cash?") %>
        <%= check_box 'param_cash', 'result', {}, 1, 0 %>

        <%= label_tag(:param_english, "Do they speak English?") %>
        <%= check_box 'param_english', 'result', {}, 1, 0 %>

        <%= label_tag(:param_tips, "Is it appropriate to leave tips?") %>
        <%= check_box 'param_tips', 'result', {}, 1, 0 %>

        <%= label_tag(:param_wifi, "Do they have WiFi?") %>
        <%= check_box 'param_wifi', 'result', {}, 1, 0 %>

        <%= label_tag(:param_wheelchair, "Are they wheelchair accessible?") %>
        <%= check_box 'param_wheelchair', 'result', {}, 1, 0 %>

        <%= label_tag(:param_rating, "Rating") %>
        <%= radio_button_tag(:param_rating, "1") %>
        <%= radio_button_tag(:param_rating, "2") %>
        <%= radio_button_tag(:param_rating, "3") %>
        <%= radio_button_tag(:param_rating, "4") %>
        <%= radio_button_tag(:param_rating, "5", true) %>

        <%= label_tag(:param_price, "Price") %>
        <%= radio_button_tag(:param_price, "1") %>
        <%= radio_button_tag(:param_price, "2") %>
        <%= radio_button_tag(:param_price, "3") %>
        <%= radio_button_tag(:param_price, "4") %>
        <%= radio_button_tag(:param_price, "5", true) %>

        <%= label_tag(:param_safety, "Safety") %>
        <%= radio_button_tag(:param_safety, "1") %>
        <%= radio_button_tag(:param_safety, "2") %>
        <%= radio_button_tag(:param_safety, "3") %>
        <%= radio_button_tag(:param_safety, "4") %>
        <%= radio_button_tag(:param_safety, "5", true) %>

        <%= label_tag(:param_service, "Service") %>
        <%= radio_button_tag(:param_service, "1") %>
        <%= radio_button_tag(:param_service, "2") %>
        <%= radio_button_tag(:param_service, "3") %>
        <%= radio_button_tag(:param_service, "4") %>
        <%= radio_button_tag(:param_service, "5", true) %>

        <button type="button" class="btn btn-default btn-lg">
        <%= link_to 'Cancel', reviews_path %>
        
        <%= submit_tag "Submit", :value => params[:id], :name => "id" %>
    </form>
</div>

<%= form_tag leave_review_path, :method => 'get' do %>
    <div class="submit_cancel">
        
        <button type="button" class="btn btn-default btn-lg">
        <%= link_to 'Submit', reviews_path %>
    </div>
<% end %>
-->

