<div class="review_page">
    <h1>Leave a Review Here</h1>
</div>

<div class="review_text">
    <% if !@review.nil?%>
        <%= form_for @review do |f| %>
            <%= f.text_area :review, :cols => 50, :rows => 10 %>
        <% end %>
    <% end %>
</div>

<div class="rating">
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <%= label_tag 'Rating' %>
</div>

<div class="price">
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <%= label_tag 'Price' %>
</div>

<div class="safety">
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <%= label_tag 'Safety' %>
</div>

<div class="food">
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <%= label_tag 'How\'s the food?' %>
</div>

<div class="service">
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <%= label_tag 'How\'s the service?' %>
</div>

<div class="cash_credit">
    <%= label_tag 'Cash or Credit?' %>
    <button type="button" class="btn btn-default btn-lg"> Cash
    </button>
    <button type="button" class="btn btn-default btn-lg"> Credit
    </button>
</div>

<div class="english">
    <%= label_tag 'English?' %>
    <%= check_box_tag 'English?', value = '1', checked = false %>
</div>

<div class="tips">
<%= label_tag 'Tips?' %>
    <%= check_box_tag 'Tips?', value = '0', checked = false %>
</div>

<div class="WiFi">
<%= label_tag 'WiFi?' %>
    <%= check_box_tag 'Tips?', value = '0', checked = false %>
</div>

<div class="view_only">
    <%= label_tag 'View Only:' %>
    <% @rating.to_i.times do  %>
        <span class="glyphicon glyphicon-star"></span>
    <% end %>
</div>

<div class="cancel">
    <button type="button" class="btn btn-default btn-lg">
    <%= link_to 'Cancel', reviews_path %>
    <button type="button" class="btn btn-default btn-lg">
    <%= link_to 'Submit', reviews_path %>
</div>


<%#= Provide Ryan a list of all tags that will be used in the review page
(review=text, rating=integer, english=boolean, etc) %>
