<div class="show page">
    <h1>See Reviews Here</h1>
    <% if !@yelp_review_info.empty? %>
	<div class="flex container show-card" %>
		<div class="flex row structure" %>
			<div class="flex col structure-1" %>
				<div class="flex element show-image" %>
					<div class="content" %>
						<%= image_tag @yelp_review_info["image_url"], size: "200" %>
					</div>
				</div>
				<div class="flex row structure-split" %>
					<div class="flex col structure-split-1" %>
						<div class="flex element show-title" %>
							<div class="content">
								<%= content_tag :h2, @yelp_review_info["name"] %>
								<%= content_tag :h3, @yelp_review_info["is_closed"] ? "Currently Closed" : "Currently Open" %>
							</div>
						</div>
						<div class="flex row show-review-box" %>
							<div class="flex col structure1-2-1" %>
                                                        	<div class="flex element show-review" %>
									<div class="content" %>
										Reviews
									</div>
								</div>
								<div class="flex element show-review" %>
									<div class="content" %>
										<div id="leave_review">
               										 <button type="button" class="btn btn-default btn-lg">
               										 <%= link_to 'Leave A Review', controller: "reviews", action: "leave_review", id: params[:id] %>
        									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="flex row structure-split-2" %>
						<div class="flex element show-hours" %>	
							<div class="content" %>
								Content
							</div>
						</div>
						<div class="flex element show-contact" %>
							<div class="content" %>
								Do this
							</div>
						</div>
						<div class="flex element show-about" %>
							<div class="content" %>
								Do this
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!--
	<h4>Rating:
                <%=  @yelp_review_info["rating"] %>
        </h4>
        <h4>Price:
                <%= @yelp_review_info["price"] %>
        </h4>
        <h4>Address:
                <%= @yelp_review_info["location"]["address1"] %>
                <%= ", " %>
                <%= @yelp_review_info["location"]["city"] %>
                <%= ", " %>
                <%= @yelp_review_info["location"]["state"] %>
                <%= ", " %>
                <%= @yelp_review_info["location"]["zip_code"] %>
        </h4>
        <h4>Hours
                <%= @yelp_review_info["hours"][0]["open"][0]["start"] %>
                <%= " - " %>
                <%= @yelp_review_info["hours"][0]["open"][0]["end"] %>
        </h4>
        <h4>Phone Number:
                <%= @yelp_review_info["display_phone"] %>
        </h4>

	<div id="leave_review">
		<button type="button" class="btn btn-default btn-lg">
    		<%= link_to 'Leave A Review', controller: "reviews", action: "leave_review", id: params[:id] %>
	</div>
-->    
    <% end %>
</div>
