<div class="show page">
	<div class="show-card" >
		<div class="structure-1" >
			<div class="show-image" >
				<%= image_tag @yelp_review_info["image_url"], size: "220" %>
			</div>
			<div class="show-text-box" >
 				<div class="show-sub-text-box show-business-info" >
				  <div class="show-title-box left" >

  						<div class="show-sub-item title" >
  							<%= content_tag :h1, @yelp_review_info["name"] %>
  						</div>
  						<div class="show-sub-item" >
  							<%= content_tag :p, @yelp_review_info["is_closed"] ? "Currently Closed" : "Currently Open" %>
  						</div>
  						<div class="show-sub-item" >
  							<%= content_tag :p, @show_alias %>
  						</div>
  						<div class="show-sub-item">

  		          <% if @avg_user_price < 0.5%>
                  <%= content_tag :p, "No Price Information" %>
                <% elsif @avg_user_price < 1.5%>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                <% elsif @avg_user_price < 2.5%>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
              	<% elsif @avg_user_price < 3.5%>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                <% elsif @avg_user_price < 4.5%>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                <% elsif @avg_user_price > 4.5%>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                  <%= image_tag("dollar-sign_grey.svg", size: "20") %>
                <% end %>
  						Dollar Rating
  						</div>
						  <div class="break"></div>
              <div class="show-sub-text-box" %>
                <%= @display_address[0] %>
                <%= ", " %>
                <%= @display_address[1] %>
                <%= ", " %>
                <%= @display_address[2] %>
                <%= ", " %>
                <%= @display_address[3] %>
      				</div>

          </div>
					  <div class="show-title-box right" >
						  <div class="structure-split" >
							  <div class="show-rating" >
								  <% if @avg_user_rating < 0.5 %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @avg_user_rating < 1.5 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @avg_user_rating < 2.5 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @avg_user_rating < 3.5 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                <% elsif @avg_user_rating < 4.5 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                <% elsif @avg_user_rating > 4.5 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                <% end %>
								Rating Here
							</div>
							<div class="show-button" >
								<div id="leave_review">
        				  <button type="button" class="btn btn-default btn-lg">
        				    <%= link_to 'Leave A Review', controller: "reviews", action: "leave_review", id: params[:id] %>
        				</div>
							</div>
						</div>
					</div>
				</div>

				<div class="show-sub-text-box show-business-hours" >
					<div class="show-sub-item" >
						<%= content_tag :h3, "Monday" %>
						<% if (@hours_open == NULL || @hours_closed == NULL) %>
							<%= "CLOSED" %>
						<% else %>
							<%= @hours_open[0] %>
        	    <%= "-" %>
              <%= @hours_closed[0] %>
						<% end %>
					</div>
					<div class="show-sub-item" >
						<%= content_tag :h3, "Tuesday" %>
            <% if (@hours_open == NULL || @hours_closed == NULL) %>
							<%= "CLOSED" %>
						<% else %>
							<%= @hours_open[1] %>
							<%= "-" %>
							<%= @hours_closed[1] %>
            <% end %>
					</div>
					<div class="show-sub-item" >
						<%= content_tag :h3, "Wednesday" %>
            <% if (@hours_open == NULL || @hours_closed == NULL) %>
              <%= "CLOSED" %>
            <% else %>
							<%= @hours_open[2] %>
              <%= "-" %>
              <%= @hours_closed[2] %>
            <% end %>
					</div>
					<div class="show-sub-item" >
						<%= content_tag :h3, "Thursday" %>
            <% if (@hours_open == NULL || @hours_closed == NULL) %>
              <%= "CLOSED" %>
            <% else %>
							<%= @hours_open[3] %>
              <%= "-" %>
              <%= @hours_closed[3] %>
            <% end %>
					</div>
					<div class="show-sub-item" >
						<%= content_tag :h3, "Friday" %>
            <% if (@hours_open == NULL || @hours_closed == NULL) %>
              <%= "CLOSED" %>
            <% else %>
							<%= @hours_open[4] %>
              <%= "-" %>
              <%= @hours_closed[4] %>
            <% end %>
					</div>
					<div class="show-sub-item" >
						<%= content_tag :h3, "Saturday" %>
            <% if (@hours_open == NULL || @hours_closed == NULL) %>
              <%= "CLOSED" %>
            <% else %>
							<%= @hours_open[5] %>
              <%= "-" %>
              <%= @hours_closed[5] %>
						<% end %>
					</div>
					<div class="show-sub-item" >
						<%= content_tag :h3, "Sunday" %>
            <% if (@hours_open == NULL || @hours_closed == NULL) %>
              <%= "CLOSED" %>
            <% else %>
							<%= @hours_open[6] %>
              <%= "-" %>
              <%= @hours_closed[6] %>
            <% end %>
					</div>
					<div class="show-sub-item" >
						<%= content_tag :h3, "Contact:" %>
						<%= content_tag :p, @yelp_review_info["display_phone"] %>
					</div>
				</div>
		  </div>
		</div>
		<div class="structure-2" >
			<h2>Aggie Reviews Portion</h2>
		</div>
    <div class="structure-3" >
      <div class="sub-structure-3" >
        <div class="sub-item">
          <%= image_tag("gigs_maroon.svg", size: "35") %>
          <%= content_tag :p, "Cash Only" %>
        </div>
        <div class="sub-item">
            <%= image_tag("circle-check_maroon.svg", size: "35") %>
            <%= content_tag :p, "Speaks English" %>
        </div>
        <div class="sub-item">
          <%= image_tag("dollar-sign_maroon.svg", size: "35") %>
          <%= content_tag :p, "Tips Encouraged" %>
        </div>
        <div class="sub-item">
          <%= image_tag("wifi_maroon.svg", size: "35") %>
          <%= content_tag :p, "WiFi" %>
        </div>
        <div class="sub-item">
          <%= image_tag("wheelchair_maroon.svg", size: "35") %>
          <%= content_tag :p, "Wheelchair Accessible" %>
  		  </div>
      </div>
    </div>
	</div>

          <div class="show-user-card">
            <div class="user-structure" >
              <div class="sub-structure left" >
                <%= content_tag :h3, "TODO comments from user_reviews" %>
              </div>
              <div class="sub-structure right" >
                <div class="structure-item" >
                  <% if @user_reviews[3] == 0 %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @user_reviews[3] == 1 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @user_reviews[3] == 2 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @user_reviews[3] == 3 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                <% elsif @user_reviews[3] == 4 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                <% elsif @user_reviews[3] == 5 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                <% end %>
                  <%= content_tag :h3, "Rating" %>
                </div>
                <div class="structure-item" >
                  <% if @user_reviews[7] == 1 %>
                    <%= image_tag("gigs_maroon.svg", size: "25") %>
                  <% else %>
                    <%= image_tag("gigs_grey.svg", size: "25") %>
                  <% end %>
                  <%= content_tag :h3, "Price" %>
                </div>
                <div class="structure-item" >
                  <% if @user_reviews[7] == 1 %>
                    <%= image_tag("gigs_maroon.svg", size: "25") %>
                  <% else %>
                    <%= image_tag("gigs_grey.svg", size: "25") %>
                  <% end %>
                  <%= content_tag :h3, "Safety" %>
                </div>
                <div class="structure-item" >
                  <% if @user_reviews[7] == 1 %>
                    <%= image_tag("gigs_maroon.svg", size: "25") %>
                  <% else %>
                    <%= image_tag("gigs_grey.svg", size: "25") %>
                  <% end %>
                  <%= content_tag :h3, "Service" %>
                </div>
                  <% if @user_reviews[3] == 0 %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @user_reviews[3] == 1 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @user_reviews[3] == 2 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @user_reviews[3] == 3 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @user_reviews[3] == 4 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_grey.svg", size: "20") %>
                  <% elsif @user_reviews[3] == 5 %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                    <%= image_tag("gigs_maroon.svg", size: "20") %>
                  <% end %>
              </div>
            </div>
            <div class="structure-3" >
              <div class="sub-structure-3" >
                <div class="sub-item">
                  <% if @user_reviews[7] == 1 %>
                    <%= image_tag("gigs_maroon.svg", size: "25") %>
                    <%= content_tag :p, "Cash Only" %>
                  <% else %>
                    <%= image_tag("gigs_grey.svg", size: "25") %>
                    <%= content_tag :p, "Cash Only" %>
                  <% end %>
                </div>
                <div class="sub-item">
                  <% if @user_reviews[8] == 1 %>
                    <%= image_tag("circle-check_maroon.svg", size: "25") %>
                    <%= content_tag :p, "Speaks English" %>
                  <% else %>
                    <%= image_tag("circle-check.svg", size: "25") %>
                    <%= content_tag :p, "Speaks English" %>
                  <% end %>
                </div>
                <div class="sub-item">
                  <% if @user_reviews[9] == 1 %>
                    <%= image_tag("dollar-sign_maroon.svg", size: "25") %>
                    <%= content_tag :p, "Tips Encouraged" %>
                  <% else %>
                    <%= image_tag("dollar-sign.svg", size: "25") %>
                    <%= content_tag :p, "Tips Encouraged" %>
                  <% end %>
                </div>
                <div class="sub-item">
                  <% if @user_reviews[10] == 1 %>
                    <%= image_tag("wifi_maroon.svg", size: "25") %>
                    <%= content_tag :p, "WiFi" %>
                  <% else %>
                    <%= image_tag("wifi.svg", size: "25") %>
                    <%= content_tag :p, "WiFi" %>
                  <% end %>
                </div>
                <div class="sub-item">
                  <% if @user_reviews[11] == 1 %>
                    <%= image_tag("wheelchair_maroon.svg", size: "25") %>
                    <%= content_tag :p, "Wheelchair Accessible" %>
                  <% else %>
                    <%= image_tag("wheelchair.svg", size: "30") %>
                    <%= content_tag :p, "Wheelchair Accessible" %>
                  <% end %>
          		  </div>
              </div>
            </div>
          </div>



	<!--
   0  t.string :business_id
   1  t.string :user_email
   2  t.text :comment
   3  t.integer :rating
   4  t.integer :price
   5  t.integer :safety
   6  t.integer :service
   7  t.boolean :cash_only
   8  t.boolean :english
   9  t.boolean :tips
   10 t.boolean :wifi
   11 t.boolean :wheelchair
    <% if !@yelp_review_info.empty? %>
        <%= content_tag :h2, @yelp_review_info["name"] %>
        <%= content_tag :h3, @yelp_review_info["is_closed"] ? "Currently Closed" : "Currently Open" %>
        <h4>Rating:
                <%=  @yelp_review_info["rating"] %>
        </h4>
        <h4>Price:
                <%= @yelp_review_info["price"] %>
        </h4>
        <h4>Address:
                <%= @yelp_review_info["location"]["address1"] %>
                <%= ", " %>
                <%= @yelp_review_info["location"]["city"] %>
                <%= ", " %>
                <%= @yelp_review_info["location"]["state"] %>
                <%= ", " %>
                <%= @yelp_review_info["location"]["zip_code"] %>
        </h4>
        <h4>Hours
                <%= @yelp_review_info["hours"][0]["open"][0]["start"] %>
                <%= " - " %>
                <%= @yelp_review_info["hours"][0]["open"][0]["end"] %>
        </h4>
        <h4>Phone Number:
                <%= @yelp_review_info["display_phone"] %>
        </h4>

	<%= image_tag @yelp_review_info["image_url"], size: "200" %>

	<div id="leave_review">
		<button type="button" class="btn btn-default btn-lg">
    		<%= link_to 'Leave A Review', controller: "reviews", action: "leave_review", id: params[:id] %>
	</div>
    <% end %>
	-->
</div>
